@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

body{
  font-family: Raleway, sans-serif;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  background: #150c21;
  color: #fff;
}
